@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title</h2>
<br />
<h3>@ViewBag.Message</h3>
<p>
    This project focuses on “Project Progress Monitoring System” which helps teachers
    to monitor the different phases of students’ project, award marks at each phase and view their reports.
</p>
<p>
    The objective of this project is to implement a database management system which is used to
    monitor and update the status of students’ projects.
</p>
<p>
    Teachers are using file based system for the data collection regarding each phase of the project of each student and deliver
    this report to their respective departments, which is in turn stored in files.
    However this system is not feasible in case of large data or if any of the data needs to be updated. Also retrieval and gathering information using this system is very difficult.
</p>
<p>
    So we have developed a system using database, which enables the user/teacher to store, update or retrieve data easily. This system is more effective because it avoids
    redundancy and maintains common information everywhere. It can be used to retrieve the marks of any student at any phase of the project.
    Along with the retrieval of the marks, it also provides the students and teachers with the necessary deadlines which helps to keep
    the teachers and students updated. Overall this project provides an efficient, consistent and responsive platform to the teachers.
</p>
