@{
    ViewBag.Title = "Contact US";
}
<br />
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    RNS Institute Of Technology<br />
    Rajarajeshwarinagar post<br />
    Channasandra </br>
    <abbr title="Telephone no.">Tel:</abbr>
    +91 80 28611880
</address>
<div class="row">
    <div class="col s12 m12 map" onclick="togg()">
        <iframe width="100%" height="100%" class="gmap" frameborder="10" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJEWX_LBsHs0VNTWjVIIIqZvnbzXGm7yA&amp;center=12.9021954,77.5163933&amp;q=RNS+Institute+of+Technology" allowfullscreen=""></iframe>
    </div>
</div>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>