@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    RNS Institute Of Technology<br />
    Rajarajeshwarinagar post<br />
    Channasandra </br>
    <abbr title="Telephone no.">Tel:</abbr>
    +91 80 28611880
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>