@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Project Progress Management System</h2>
    <p class="lead">This application helps teachers to monitor the different phases of students’ project, award marks at each phase and view their reports</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <!--<p class="btn btn-primary btn-lg">
            @Html.ActionLink("Learn more", "About")
    </p>-->
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Admin Login</h2>
        <p>Login for Admin of every department using their IDs.</p>
        <p><a class="btn btn-primary " href="~/AdminView/AdminView">Admin Entry &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Teacher Login</h2>
        <p>
            Login for Teachers of every department using their IDs.
        </p>
        <p><a class="btn btn-primary" href="~/Account/Login">Teacher Entry &raquo;</a></p>
    </div>
    
</div>