@model ProjectProgressMonitoringSystem.ViewModel.TeacherStudentList

@{
    ViewBag.Title = "AdminView";
}
<br />
<br />
<h1>Admin View</h1>
<br />
<br />
<div class="jumbotron" >
    <div class="row">
        <div class="col-md-4 ">
            <h2>Teacher Entry</h2>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="~/Teachers/Create">New Teacher Entry &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Student Entry</h2>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="~/Students/Create">New Student Entry &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Group Entry</h2>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="~/CreateGroup/CreateGroup">Create Group &raquo;</a></p>
        </div>
    </div>
</div>

