@model ProjectProgressMonitoringSystem.ViewModel.TeacherStudentList

@{
    ViewBag.Title = "AdminView";
}


<h2>Create Student</h2>
<p><a href="~/Students/Create">Create student</a></p>
<h2>Create Teacher</h2>
<p><a href="~/Teachers/Create">Create Teacher</a></p>
<h2>Create Group</h2>
<p><a href="~/CreateGroup/CreateGroup">Create Group</a></p>