@model ProjectProgressMonitoringSystem.ViewModel.TeacherView

@{
    ViewBag.Title = "TeacherView";
}

<h2>TeacherView</h2>

<p><a class="btn btn-default" href="~/Students/Index">View Student Details</a></p>
<p><a class="btn btn-default" href="~/">Marks Allotment</a></p>